* { outline: 1px dotted red; }

#container{
  width:200px;
  height:200px;
  background: blue;
  position:relative;
  border-radius: 1px;
  border-color: green;
  margin: 50px;
  padding: 40px;
  border: green;
  border-width: 10px;
}

/* 

#container{
  width:200px;
  height:200px;
  background: blue;
  position:relative;
}
#center-me{
  background: red;
  height: 100px;
  width: 100px; 
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
}

*/
