* { outline: 1px dotted red; }

html, body{
    height: 90%;
    padding: 10px;
}

.container{
    border: 2px solid purple;
    display: flex;
}

.search{
    flex: 1;
}

@media all and (max-width: 600px) {
    .container{
        flex-wrap: wrap;
    }


.container > li {
    flex: 1 1 50%;
}









/* 

Notes:
- flex is short hand for three properties
    - flex-grow
    - flex-shrink
    - flex-basis


- how to kick a div to far right of a container

.container{
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end
}

.logout{
    margin-left: auto;
    width: 15vh;
} 

- html

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="flexPrac.css">
    </head>
    <body>
        <nav class="container">
            <div class="home">home</div>
            <div class="search">search</div>
            <div class="logout">logout</div>
        </nav>
    </body>
</html>


END OF IE.

- some more examples of flex properties per singlular tags

.container{
    height: 10vh;
    display: flex;
}

.container > div{
    flex: 1;
}

.container > .search {  
    flex: 2;
}

- html

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="flexPrac.css">
    </head>
    <body>
        <nav class="container">
            <div class="home">home</div>
            <div class="search">search</div>
            <div class="logout">logout</div>
            <div>profile</div>
        </nav>
    </body>
</html>

END OF IE.

- Great trick to align content in the middle of div for say a button

.container{
    border: 2px solid purple;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}


<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="flexPrac.css">
    </head>
    <body>
        <nav class="container">
            <div class="buttonX">X</div>
        </nav>
    </body>
</html>


END OF IE.

- aligning single divs within a .container

.container{
    border: 2px solid purple;
    display: flex;
    height: 100%;
    align-items: center;
}

.logout{
    align-self: flex-start;
}

.home{
    align-self: flex-end;
}


END OF IE.

- moving around your items 

.container{
    border: 2px solid purple;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    align-items: flex-end;
}

END OF IE.

- quick intro to flexwrap

.container{
    border: 2px solid purple;
    display: flex;
    flex-wrap: wrap;
}

.container > div {
    width: 300px;
}


END OF IE.

- flex, grow and shrink 

.home{
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 200px; 
    flex: 1 1 200px;
}

.logout{
    /* flex-grow: 1;
    flex-shrink: 1; 
    flex-grow: 1;
    flex-shrink: 5;
    flex-basis: 200px;
}










*/

