* { outline: 1px dotted red; }

.container{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 100px 100px;
}








/* grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 50px); 

.container{
    display: grid;
    grid-template: repeat(2, 50px) / repeat(3, 1fr);   rows / columns
    grid-gap: 3px;
}


.header{
    grid-column-start: 1;
    grid-column-end: 3; (for a 2 colomn grid - reason being here is that there are 3 lines in a 2 colomn grid that seperate both columns)
SAME AS 
    grid-column: 1 / span 2; (for a 2 colomn grid)
    grid-column: 1 / -1;
}

FLIP header to right side 

.container{
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 200px 40px;
}

.header{
    grid-column: 1 / 11;
}

.menu{
    grid-column: 11 / -1;
    grid-row: 1 / 4;

}

.content{
    grid-column: 1 / 11;

}

.footer{
    grid-column: 1 / 11;
}





- the code below, will enable you to create protypes very quickly!

.container{
    height: 97vh;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 80px;
    grid-template-areas: 
        ". h h h h h h h h h h ."
        "m c c c c c c c c c c c"
        ". f f f f f f f f f f .";
}

.header{
    grid-area: h;
}

.menu{
    grid-area: m;
}

.content{
    grid-area: c;
}

.footer{
    grid-area: f;
}

html

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="gridPrac.css">
    </head>
    <body>
        <div class="container">
            <div class="header">header</div>
            <div class="menu">menu</div>
            <div class="content">content</div>
            <div class="footer">footer</div>
        </div>
    </body>

</html>


END OF IE.

- minmax (good for mobile phones?)

.container{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 100px);
}

END OF IE.

- this will enusre that cells cannot drop below 100px

.container{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 100px);
    grid-auto-rows: 100px;
}

END OF IE.

- super grid order layout!  the CSS does all the work to fit your HTML elements together automatically!

.container{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 75px;
    grid-auto-flow: dense;
}

.container img{
    width: 100%;
    height: 100%;
}

.horizontal{
    grid-column: span 2;
}

.vertical{
    grid-row: span 2;
}

.big{
    grid-column: span 2;
    grid-row: span 2;
}

- html

        <div class="container">
            <div><img src="shapes.png"/></div>
            <div class="vertical"><img src="shapes.png"/></div>
            <div class="horizontal"><img src="shapes.png"/></div>
            <div><img src="shapes.png"/></div>
            <div><img src="shapes.png"/></div>
            <div class="big"><img src="shapes.png"/></div>
            <div><img src="shapes.png"/></div>
            <div class="vertical"><img src="shapes.png"/></div>
            <div><img src="shapes.png"/></div>
            <div class="horizontal"><img src="shapes.png"/></div>
            <div><img src="shapes.png"/></div>
            <div class="big"><img src="shapes.png"/></div>
            <div><img src="shapes.png"/></div>
            <div class="horizontal"><img src="shapes.png"/></div>
            <div><img src="shapes.png"/></div>
            <div class="big"><img src="shapes.png"/></div>
            <div><img src="shapes.png"/></div>
            <div class="vertical"><img src="shapes.png"/></div>


END OF IE.

- basic template

.container{
    display: grid;
    height: 97vh;
    grid-gap: 3px;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 40px auto 40px;
}

.header{
    grid-column: 1 / -1;
}

.menu{
    grid-column: 1 / 1;
}

.content{
    grid-column: 2 / -1;

}

.footer{
    grid-column: 1 / -1;
}

- html

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="gridPrac.css">
    </head>
    <body>
        <div class="container">
            <div class="header">header</div>
            <div class="menu">menu</div>
            <div class="content">content</div>
            <div class="footer">footer</div>
    </body>

</html>

END OF IE.

- auto-fit - very useful!

.container{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 100px 100px;
}


END OF IE.

- 



*/