/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
    border: greenyellow;






*{
    margin: 0px;
    padding: 0px;
   }
#wrapper{
    position: absolute;
    height:99%;
    width:98%;
    margin-left: 15px;
    background-color:navy;
   }

#header{
    min-height: 50px;
    text-align: center;
    padding: 20px;
    margin-left: 20px;
    margin-right: 25px;
    background-color: red
 }

 .headerText{
    padding-top: 5px;
    text-align: left;
    color: paleturquoise;
 }

 #navBar{
    max-width: 300px;
    height: 300px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 30;
    float: left;
    width: 25%;
    background-color:green;
 }

 a{
    color: aqua;
 }

 .navText{
     padding-top: 15px;
     padding-left: 15px;
 }

 .oneText{
    margin-left: 2em;
 }

 .twoText{
    margin-left: 3em;
 }

 #mainContent{
    height: 100px;
    width: 70%;
    max-width: 400px;
    margin-top: 30px;
    padding-right: 40px;
    float: left;
    background-color: red
 }












