/*  
CSS selector
*/

p{
    color: blue;
  }

  #important{
    font-size: 36px;
  }

  .info{
    background-color: green;
    border: 1px solid black;
  }

  li            {...}  /* a=0 b=0 c=1 -> specificity =   1 */
  ul li         {...}  /* a=0 b=0 c=2 -> specificity =   2 */
  ul ol li      {...}  /* a=0 b=0 c=3 -> specificity =   3 */
  li.red        {...}  /* a=0 b=1 c=1 -> specificity =  11 */
  ul ol li.red  {...}  /* a=0 b=1 c=3 -> specificity =  13 */
  #list         {...}  /* a=1 b=0 c=0 -> specificity = 100 */


/*  
styling elements
*/

a {
  width: 25px;
}
div {
  width: 100%;
  height: 200px;
}
img {
  width: 250px;
}


div {
  overflow: scroll;
}


p {
  background: #ffffff url("cherries.png") no-repeat fixed center;
}


p {
  background-color: blue;
}
div {
  background-image: url("cherries.png");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}


button {
  border: 2px dotted green;
}
div {
  border: 1px solid #000000;
}
p {
  border-right: 1px groove rgb(100,100,100);
  border-left: 1px groove rgb(200,200,200);
}


button {
  border-radius: 5px;
}


/*  
styling text
*/

p {
  color: #ffffff;
}
a {
  color: rgb(255, 255, 255);
}
span {
  color: white;
}


h1 {
  text-align: center;
}


a {
  text-decoration: none;
}

/* web safe fonts */
p {
  font-family: "helvetica neue", arial, verdana, sans-serif;
}


h3 {
  font-size: 10pt;
}
p {
  font-size: 14px;
}
a {
  font-size: 1.2em;
}
span {
  font-size: 80%;
}


span {
  font-style: italic;
}

p {
  font-weight: bold;
}
span {
  font-weight: 600;
}


/* what's the span tag?

If you wanted to highlight specific text within a paragraph or division, <span> can be used.  Unlike <div> which puts the next <div> on a separate line, <span> by default puts the element on the same line.  For example, consider

(see below)
Above by default would put 'World' on a new line.  However if you wanted World to show up in the same line, you could instead do

<h1>Hello <span>World</span> </h1>
 */

 <h1>Hello <span>World</span> </h1>

h1 span {
  font-weight: bold;
  color: blue;
}


/*  
Display Properties
*/

/*  Block, Inline-Block, Inline  
Inline items only take up as much space as needed.
Block items take up the 100% of the width of the parent element.

You can set them to reverse via this trick below 

default inline elements are the following
Inline elements: <a>, <img>, <span>, <input>, <label>, <select>, <textarea>

default block elements are the following
Block elements: <body>, <div>, <form>, <h1>-<h6>, <p>, <table>, <ul>, <ol>, <li>

It's invalid to put block elements inside inline elements.
ie. not :valid
<a href="http://www.google.com">www.google.com<h1>Google</h1></a>

:valid
<h1><a href="http://www.google.com">Google</a></h1>



*/

p{
  background-color: aqua;
  display: inline;           /* here is the flip, can also set this to "block" */
  display: block;   
}


<a href="#">One</a>
<a href="#">Two</a>
<a href="#">Three</a>
<a href="#">Four</a> 
<a href="#">Five</a>

a {
  margin: 10px;
  background: #eee;
  color: black;
  display: block;
  padding: 10px;
}


<ul id="nav-menu">
  <li><a href="#">Home</a></li>
  <li><a href="#">Dashboard</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">Contact Us</a></li>
</ul>

#nav-menu{
  list-style-type: none; /*This gets rid of the bullets.*/
}
#nav-menu li {
  display: inline;
}


/*multiple inline block structure for same p tags*/

p {
  width: 180px;
  margin:10px;
  padding:20px;
  font-size: 14px;
  background: #eee;
  display: inline-block;
}


div{
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}



div{
  padding-top: 25px;
  padding-right: 50px;
  padding-bottom: 75px;
  padding-left: 100px;
}
div{
  padding: 25px 50px 75px 100px;
}




div{
  padding-top: 25px;
  padding-right: 50px;
  padding-bottom: 75px;
  padding-left: 50px;
}
div{
  padding: 25px 50px 75px;
}



div{
  padding-top: 25px;
  padding-right: 50px;
  padding-bottom: 25px;
  padding-left: 50px;
}
div{
  padding: 25px 50px;
}



div{
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
}
div{
  padding: 25px;
}



/*
an easy way to center an element inside a container 
*/

<div id="container">
  <div id="center-me">
  </div>
</div>

#container{
  width:200px;
  height:200px;
  background: blue;
  position:relative;
}
#center-me{
  background: red;
  height: 100px;
  width: 100px; 
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
}


/*

name is for backend

id is for front end

3 things to look out for when writing CSS

1. selector
2. attribute
3. property

#username{
  background-color: yellow; 
}

*/

/*
position property

- static
- relative
- absolute
- fixed

- static
static is normal and follows the box model

- absolute
An absolutely positioned element is positioned relative to the first parent element that has a position other than static applied to it. If no parent element up the chain meets that condition the absolutely positioned element is positioned relative to the document window.

ie.

#box-1{
  background-color: green;
  position: absolute;
  top: 40px;
}


- relative
one very important difference: the elements around a relatively positioned element act as though that shift didn’t exist.

#container{
  background-color: yellow;
  display: inline-block;
}
#box-1, #box-2, #box-3{
  height: 100px;
  width: 100px;
  margin: 10px;
  display: inline-block;
}
#box-1{
  background-color: green;
}
#box-2{
  background-color: pink;
  position: relative;
  top: 20px;
  left: 20px;
}
#box-3{
  background-color: blue;

- fixed
fixes a div relative to the edges of the web browswer

#container{
  width:200px;
  height:200px;
  background: blue;
  position:relative;
}
#center-me{
  background: red;
  height: 100px;
  width: 100px; 
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
}

FAQ

Q: Can I add multiple classes to an element?

A: Yes. Simply separate the class names with space. Ex:

<div class="nav side-bar"></div>


Q: Can I add a class and an id to the same element?

A: Yes. An element can have an id and multiple classes. Ex:


Q: Can I add a class and an id to the same element?

A: Yes. An element can have an id and multiple classes. Ex:

<div id="primary-nav" class="nav side-bar"></div>


Q: Do I have to add a class or an id to target a nested element?

A: Not as a rule. Consider the following example:

<ul id="nav-menu">
  <li><a href="#">Home</a></li>
  <li><a href="#">Dashboard</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">Contact Us</a></li>
</ul>


Q: Do I have to add a class or an id to target a nested element?

A: Not as a rule. Consider the following example:

<ul id="nav-menu">
  <li><a href="#">Home</a></li>
  <li><a href="#">Dashboard</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">Contact Us</a></li>
</ul>

#nav-menu li a{
  text-decoration: none;
}

- Portfolio assignment
keep this as basic as you can, tkae this note from a past lecture
- When positioning elements, please primarily use margin, padding, display, vertical-align, width, and height.  Do NOT use float, position: relative or position: absolute.  Focus on the basic 6 (margin, padding, display, vertical-align, width, and height) when building the assignments.  Please also avoid using Stack Overflow especially early on, considering the complexity of typical answers about CSS positioning you can find there.

basic 6
- margin
- padding
- display
- vertical-align
- width
- height

also, remember to use outlines
* { outline: 1px dotted red; }






*/

