

h1{
    color: white;
    text-align: inherit;
}

.container{
    width: 1100px;
    height: 1200px;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(233,212,251,1) 100%, rgba(237,237,237,1) 100%);
    margin: auto;
}

.header{
    height: 100px;
    width: 100%;
    background-color: rgba(2,0,36,1);
    margin: auto;
}

.subHeader1{
    height: 80px;
    width: 200px;
    display: inline-block;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: whitesmoke;
    font-size: 40px;
    padding-top: 20px;
    margin-left: 15px;
}

.subHeader2{
    height: 40px;
    width: 500px;
    float: right;
    padding: 30px;
    text-align: center;
    color: whitesmoke;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 30px;
}

.mainContainer1{
    height: 1025px;
    background-color: transparent;
}

.subMainContainer1{
    height: 400px;
    background-color: transparent;
}

.content1{
    height: 350px;
    width: 500px;
    display: inline-block;
    margin: 25px;
    border-color: 233,212,251,1;
    border-style: solid;
}

.content2{
    height: 350px;
    width: 525px;
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
}

.subContent2Header{
    height: 40px;
    width: 515px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(212,221,223,1) 100%, rgba(237,237,237,1) 100%);
    font: 25px Arial, sans-serif;
    padding-top: 10px;
    font-weight: 600;
    color: white;
    padding-left: 10px;
    margin-top: -4px;
}

.subContent2Main1{
    height: 305px;
    width: 525px;
    background-color: #f1f1f1;
    font: 18px Arial, sans-serif;
    position: absolute;
}

.subMainContainer2{
    height: 630px;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex{
    background-color: #f1f1f1;
    width: 300px;
    height: 590px;
    margin: 10px;
    font-size: 30px;
}

.flexHeader{
    height: 40px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(212,221,223,1) 100%, rgba(237,237,237,1) 100%);
    font: 25px Arial, sans-serif;
    text-align: left;
    padding-top: 10px;
    font-weight: 600;
    color: white;
    padding-left: 10px
}

.flexPicture{
    height: 165px;   
}

.flexText{
    height: 150px;
    font-size: 18px;
}

.flexHeader2{
    height: 30px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(212,221,223,1) 100%, rgba(237,237,237,1) 100%);
    font: 20px Arial, sans-serif;
    text-align: left;
    font-weight: 600;
    color: white;
    padding-left: 10px;
    padding-top: 7px;
}

.flexBottom{
    height: 145px;
    background-color: #f1f1f1;
    padding: 10px;
    padding-right: 10px;
}

.button {
    background-color: darkgreen;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.footer{
    background-color: whitesmoke;
    height: 90px;
    text-align: center;
}

.footerText{
    font-size: 20px;
    padding-top: 5px;
}

a{
    font-size: 20px;
    color: black;
}