
html, body{
    height: 95vh;
    min-height: 1253px;
    width: 980px;
    padding: 5px, auto;
}

.container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(31, 1fr);
}

.header{  
    display: flex;
    display: grid;
    grid-column: 1 / -1;
    grid-row: 1/4;
    background-color: rgb(27, 25, 25);
}

.header > img{
    padding-top: 15px;
    padding-left: 15px;
    width: 270px;
    height: 80px;
}

.header > h4{
    display: flex;
    display: grid;
    width: 200px;
    justify-content: flex-end;
    color: whitesmoke;
    grid-column: 12;
    margin-right: -30px;
}

.navBar{
    grid-column: 1 / -1;
    grid-row: 4/5;
    background: linear-gradient(#6f6f6f, #1b1b1b)
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 
  }
  
  li {
    float: left;

  }
  
  li a {
    display: block;
    padding: 10px;
    padding-left: 1.75vh;
    padding-right: 1.75vh;
    font-family: 'Germania One', cursive;
    font-size: 17px;
    text-decoration: #dddddd;
    color: rgb(233, 234, 235);
    
}

.MainPic{
    display: grid;
    grid-column: 1 / -1;
    grid-row: 5/14;
    background-color: #6f6f6f;
    margin-bottom: -10px;
}

.MainPic > img{
    justify-self: center;
    width: 100%;
    height: 99%;
}

.content1{
    grid-column: 1 / -1;
    grid-row: 14/18;
    display: flex;
    background-color: rgb(26, 24, 24);
    margin-top: 10px;
}

.content1 > div {
    flex:1;
    margin-top: 1px;
    padding-top: 15px;
}

.content1 > div > img{
    padding-top: 25px;
    padding-left: 15px;
}

.content1 > div > h3{
    color: orange;
    font-family: 'Germania One', cursive;
    display: inline-block;
    padding-inline-start: 10px;
    vertical-align: top;
}

.content1 > div > p{
    color: white;
    display: inline-block;
    vertical-align: top;
    font-size: small;
    width: 150px;
    margin-left: 77px;
    margin-top: -20px;
}

#one{
    margin-left: 10px;
}

#two{
    margin-left: 7px;
}

.content2{
    display: flex;
    grid-column: 1 / -1;
    grid-row: 18/22;
    background-color: black;
}


.content2Text{
    width: 70%;
    font-family: 'Germania One', cursive;
    margin-left: 30px;
}

.content2Text > h1{
    color: white;
}

.content2Text > p{
    color: lightgray
}

.button{
    background: linear-gradient(#f3cd8f, #f38405);
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    display: flex;
    margin-left: 80px;
    margin-top: 55px;
}

.footer{
    grid-column: 1 / -1;
    grid-row: 22/32;
    display: flex;
    background-color: rgb(26, 24, 24);
    flex:1;
}

.footer > div {
    flex:1;
    margin-top: 1px;
    padding-top: 15px;
}

.footer > div > img{
    margin-left: 15px;
    margin-top: 50px;
    border-width: large;
    border-color: gray;
    border-style: solid;
}

.footer > div > h3{
    color: orange;
    font-family: 'Germania One', cursive;
    display: inline-block;
    padding-inline-start: 10px;
    vertical-align: top;
}

.footer > div > p{
    color: white;
    display: inline-block;
    vertical-align: top;
    font-size: small;
    width: 150px;
    margin-left: 15px;
    margin-top: -10px;
}

.footer > div > h1{
    color: white;
    font-size: 1.25rem;
    margin-bottom: -37px;
    margin-left: 15px;
    font-family: 'Times New Roman', Times, serif
}

#three{
    margin-left: 5px;
}

#four{
    text-decoration: none;
    color: orange;
    font-style: italic;
    font-family: 'Germania One', cursive;
    font-size: small;
    margin-left: 132px;
}

#five{
    margin-top: 32px;
}

.ending{
    display: flex;
    text-decoration: none;
    color: gray;
    font-size: small;
    font-style: italic;
    justify-content: flex-end;
    margin-top: 50px;
    margin-right: 15px;
}
