*{ outline: 1px dotted red; }

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
#wrapper{
    width: 970px;
    margin: 0px auto;
    background-color: #245176;
    color: white;
}
#top-content{
    padding: 15px;
}
#header img{
    width: 375px;
}
#header-right{
    display: inline-block;
    margin-left: 240px;
    text-align: center;
    vertical-align: top;
}
#header-right a{
    color:#cbad04;
}
#header-right span{
    color: black
}
#search{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background-color: #444444;
    padding: 15px 7px 4px 10px;
    margin-top: 5px;
    box-shadow: 2px 2px 2px black;
}
#search input{
    text-align: center;
    padding: 10px;
    border: 2px solid silver;
    box-shadow: 1px 1px 1px black;
}
#search button{
    color: white;
    text-align: center;
    margin-left: 5px;
    padding: 6px 8px;
    border-radius: 5px;
    background-color: #245176;
    box-shadow: 1px 1px 1px black;
}

  